<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="discrption" content="parallax one page">
    <meta name="keyword" content="agency, business, corporate, creative, freelancer, interior, joomla theme, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple">

    <!-- Template Title -->
    <title>Gadget Development Studios LLC</title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


    <!-- custom styles (optional) -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>
  <body class="theme-dark">



        <!-- Navbar
      ================================================== -->
      <nav class="navbar navbar-style2 navbar-expand-lg">
        <div class="container">

          <a  href="#">
            <img src="{{ front_page.logo_image.url }}" alt="{{ front_page.logo_alt }}" class="logo-1">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                <a class="nav-link" href="" data-scroll-nav="0">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="1">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="3">Services</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="4">Languages</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="5">Projects</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="6">Blog</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#" data-scroll-nav="7">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar
      ================================================== -->


    <!-- Header
    ================================================== -->
    <header class="header header-personal-v2 w-100 height-100 cover-bg ohidden" data-image-src="{{ front_page.header_background_image.url }}" data-overlay='7' data-scroll-index='0'>
      <div class="container  d-flex h-100">
        <div class="row justify-content-center align-self-center">

          <div class="caption p-relative">
            <h2 class="mb-10 color-white t-shadow-1">Gadget Development Studios</h2>
            <h5 class="mb-30 fz-30 fw300"><span>I</span></h5>
            <p>Social Networks</p>

            <div class="scoial-icon">
              {% for social_network in social_networks %}
                <a href="{{ social_network.link }}" target="_blank" class="t-shadow-1 color-white"><img src="{{ social_network.image.url }}" alt="{{ social_network.name }}" title="{{ social_network.name }}"></a>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </header>
    <!-- End Header
    ================================================== -->

    <!-- About
    ================================================== -->
    <section class="about about-style2 section-padding ohidden" data-background-color="#121212" data-scroll-index='1'>
      <div class="container">
        <div class="row">

          <div class="col-12 s-title-per-v2 text-center">
            <h4 class="color-white">About Gadget</h4> <br/>
          </div>

          <div class="col-lg-12 sm-mb-50">
              <h5 class="sub-tit color-white p-relative pb-10 mb-20">Gadget Development Studios LLC</h5>
              <p class="mb-30">{{ front_page.about_statement }}</p>
              <div class="btn btn-light p-relative">
                <a href="#" data-scroll-nav="7" class="btn m-0 fleft">Contact Gadget</a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About
    ================================================== -->


    <!-- Services
    ================================================== -->
    <section class="carousel slide" data-ride="carousel" data-interval="2500" data-scroll-index='3'>
      <div class="carousel-inner">
        {% for service in services_provided %}
        {% if forloop.counter0 == 0 %}
        <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
            {% endif %}
            <div class="crop_item">
              <div class="greyimg">
                <img class="img-fluid " src="{{ service.image.url }}" title="{{ service.description }}" alt="{{ service.description }}">
              </div>
            </div>
            <div class="carousel-content">
              <h1>{{ service.description }}</h1>
            </div>
            </div>
          {% endfor %}
        </div>
        <div class="carousel-title">
          <h4><b>Services Provided</b></h4>
        </div>
      </section>


    <!-- End Services
    ================================================== -->



    <!-- Programming Languages
    ================================================== -->
    <style type="text/css">
      .parallax { background-image:url({{ front_page.programming_language_image.url }}); }
    </style>

    <section class="parallax languages languages-style2 section-padding ohidden"   data-scroll-index='4'>
      <div class="container">
        <div class="row">
          <div class="col-12 s-title-per-v2 s-title-per-v2-w text-center">
            <h4>Programming Languages Used... So Far</h4>
          </div>

          {% for language in languages %}
            <div class="col-lg-4 col-md-6 mb-30">
              <div class="languages-box box-padding p-relative text-center">
                <div class="box">
                  <div class="details">
                    <div class="icon">
                      <img src="{{ language.image.url }}">
                      <h4 class="title-box sub-tit pb-10 mb-20">{{ language.title }}</h4>
                    </div>
                    <div class="text">
                      <h4>{{ language.title }}</h4>
                      <p>{{ language.description }}</p>
                      <br/>
                      <a href="{{ language.source_link }}" target="_blank" style="color: blue;">SOURCE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Programming Languages
    ================================================== -->

    <!-- portfolio
     ================================================== -->
     <section class="portfolio section-padding ohidden" data-scroll-index='5'>
       <div class="container">
         <div class="row">

           <div class="col-12 section-title text-center">
            <h6>See Gadget's Work</h6>
            <h3>Recent Work</h3>
            <span class="inner"></span>
          </div>

           <div class="filtering text-center mb-30">
             <button type="button" data-filter='*' class="active">All</button>
             <button type="button" data-filter='.websites'>Websites</button>
             <button type="button" data-filter='.desktop'>Desktop</button>
             <button type="button" data-filter='.mobile'>Mobile</button>
             <button type="button" data-filter='.IoT'>IoT</button>
           </div>

           <!-- gallery -->

           <div class="gallery ohidden no-padding col-md-12">
             {% for project in projects %}
             <div class="col-lg-4 col-sm-6 mb-30 {{ project.category }}">
               <div class="item-img">
                 {% if project.id is not null %}
                 <a href="{% url 'project_detail' project.id %}"></a>
                 {% endif %}
                 <div class="part-img">
                   <img src="{{ project.image_thumbnail.url }}" alt="image">
                   <div class="overlay-img">
                     <div class="container">
                       <h4>{{ project.title }}</h4>
                       <p>{{ project.category }}</p>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             {% endfor %}
           </div>

         </div>
       </div>
     </section>
     <!-- End portfolio
     ================================================== -->

    <!-- Blog
    ================================================== -->
    <section class="blog-style2 section-padding ohidden"  data-background-color="#121212" data-scroll-index='6'>
      <div class="container">

          <div class="col-12 s-title-per-v2 text-center">
            <p>What's New !</p>
            <h4><a href="{% url 'blog_home' %}">Gadget Blogs</a></h4>
          </div>
          <div class="row row-eq-height">
          {% for blog in blogs %}
          <div class="col-lg-4 sm-mb-50">
            <div class="blog-item p-relative b-radius-4">
              <div class="part-img p-relative ">
              {% if blog.id is not null %}
                <a href="{% url 'blog_detail' blog.id %}">
              {% else %}
                <a class="nav-link" href="#" data-scroll-nav="6">
              {% endif %}
                  <img class="img-thumbnail img-circle" src="{{ blog.image.url }}" alt="">
                </a>
              </div>
              <div class="content">
                <div class="title">
                  <h4 class="title-box mb-5">
                  {% if blog.id is not null %}
                    <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                  {% else %}
                    <a href="#" data-scroll-nav="6">{{ blog.title }}</a>
                  {% endif %}
                  </h4>
                </div>
                <div class="meta pb-20">
                  <ul>
                    <li>{{ blog.pub_date }}</li>
                    <br/>
                    <li>By: {{ blog.author }}</li>
                  </ul>
                </div>
                <p>{{ blog.summary }} ...</p>
              {% if blog.id is not null %}
                <a href="{% url 'blog_detail' blog.id %}" class="red-more">Read More</a>
              {% else %}
                <a class="red-more" href="#" data-scroll-nav="6">{{ blog.title }}</a>
              {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Blog
    ================================================== -->


    <!-- contact
    ================================================== -->
    <section class="contact contact-default section-padding  ohidden"  data-background-color="#232323" data-scroll-index='7'>
      <div class="container">
        <div class="row">

          <div class="col-12 s-title-per-v2 s-title-per-v2-w text-center">
            <p>Say Hello !</p>
            <h4>Contact Gadget @<h4>
            <span class="inner"></span>

            <div class="container">
              <div class="center-block">
                <div class="info-block text-center m-auto p-relative">
                  <div class="icon">
                    <div class="jam jam-envelope-f"></div>
                  </div>
                  <div class="text">
                    <h5>Email Address:</h5>
                    <p><a href="#">gadgetdevstudios@gmail.com</a></p>
                    <span class="inner"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact
    ================================================== -->


    <!-- Footer
    ================================================== -->
    <footer class="footer-style-2 p-relative">
      <div class="container">
        <div class="row">

          <div class="brand text-center m-auto p-relative w-100">
            <img src="{{ front_page.logo_image.url }}" alt="{{ front_page.logo_alt }}">
          </div>

          <div class="scoial-icon text-center m-auto p-relative mt-30">
          {% for social_network in social_networks %}
            <a href="{{ social_network.link }}" target="_blank" class="t-shadow-1 color-white"><img src="{{ social_network.image.url }}" alt="{{ social_network.name }}" title="{{ social_network.name }}"></a>
          {% endfor %}
          </div>

          <div class="cop text-center w-100 mt-30">
            <h6 class="fz-14 fw500">© All Rights Reserved - 2018 Gadget Development Studios LLC.</h6>
          </div>

        </div>
      </div>
    </footer>
    <!-- End Footer
    ================================================== -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/Migrate.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- owl carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- scrollIt js -->
    <script src="{% static 'js/scrollIt.min.js' %}"></script>

    <!-- typed -->
    <script src="{% static 'js/typed.js' %}"></script>

    <!-- magnific-popup -->
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

    <!-- isotope.pkgd.min js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <!-- YouTubePopUp -->
    <script src="{% static 'js/YouTubePopUp.jquery.js' %}"></script>

    <!-- circle progress-->
    <script src="{% static 'js/circle-progress.min.js' %}"></script>

    <!-- validator js -->
    <script src="{% static 'js/validator.js' %}"></script>

    <!-- custom JavaScript -->
    <script src="{% static 'js/custom.js' %}"></script>

  </body>
</html>
