<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="discrption" content="parallax one page">
    <meta name="keyword" content="agency, business, corporate, creative, freelancer, interior, joomla theme, K2 Blog, minimal, modern, multipurpose, personal, portfolio, responsive, simple">

    <!-- Template Title -->
    <title>Gadget Development Studios LLC</title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


    <!-- custom styles (optional) -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>
  <body class="theme-dark">




    <!-- Navbar
    ================================================== -->
    <nav class="navbar navbar-style2 navbar-expand-lg">
      <div class="container">

        <a  href="#">
          <img src="{{ front_page.logo_image.url }}" alt="{{ front_page.logo_alt }}" class="logo-1">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fas fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="" data-scroll-nav="0">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" data-scroll-nav="1">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" data-scroll-nav="3">Services</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" data-scroll-nav="4">Languages</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" data-scroll-nav="5">Client</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" data-scroll-nav="6">Blog</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" data-scroll-nav="7">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar
    ================================================== -->


    <!-- Header
    ================================================== -->
    <header class="header header-personal-v2 w-100 height-100 cover-bg ohidden" data-image-src="{{ front_page.header_background_image.url }}" data-overlay='7' data-scroll-index='0'>
      <div class="container  d-flex h-100">
        <div class="row justify-content-center align-self-center">

          <div class="caption p-relative">
            <h2 class="mb-10 color-white t-shadow-1">Gadget Development Studios</h2>
            <h5 class="mb-30 fz-30 fw300"><span>I</span></h5>
            <p>Social Networks</p>

            <div class="scoial-icon">
              {% for social_network in social_networks %}
                <a href="{{ social_network.link }}" target="_blank" class="t-shadow-1 color-white"><img src="{{ social_network.image.url }}" alt="{{ social_network.name }}" title="{{ social_network.name }}"></a>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </header>
    <!-- End Header
    ================================================== -->

    <!-- About
    ================================================== -->
    <section class="about about-style2 section-padding ohidden" data-background-color="#121212" data-scroll-index='1'>
      <div class="container">
        <div class="row">

          <div class="col-12 s-title-per-v2 text-center">
            <h4 class="color-white">About</h4> <br/>
            <div class="logo">
              <img src="{{ front_page.logo_image.url }}" alt="{{ front_page.logo_alt }}">
            </div>
          </div>

          <div class="col-lg-12 sm-mb-50">
              <h5 class="sub-tit color-white p-relative pb-10 mb-20">Gadget Development Studios LLC</h5>
              <p class="mb-30">{{ front_page.about_statement }}</p>
              <div class="btn btn-light p-relative">
                <a href="#" data-scroll-nav="7" class="btn m-0 fleft">Contact Gadget</a>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About
    ================================================== -->


    <!-- Services
    ================================================== -->
    <section class="carousel slide" data-ride="carousel" data-interval="2500" data-scroll-index='3'>
      <div class="carousel-inner">
        {% for service in services_provided %}
        {% if forloop.counter0 == 0 %}
        <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
            {% endif %}
            <div class="crop_item">
              <div class="greyimg">
                <img class="img-fluid " src="{{ service.image.url }}" title="{{ service.description }}" alt="{{ service.description }}">
              </div>
            </div>
            <div class="carousel-content">
              <h1>{{ service.description }}</h1>
            </div>
            </div>
          {% endfor %}
        </div>
        <div class="carousel-title">
          <h4><b>Services Provided</b></h4>
        </div>
      </section>


    <!-- End Services
    ================================================== -->



    <!-- Programming Languages
    ================================================== -->
    <style type="text/css">
      .parallax { background-image:url({{ front_page.programming_language_image.url }}); }
    </style>

    <section class="parallax languages languages-style2 section-padding ohidden"   data-scroll-index='4'>
      <div class="container">
        <div class="row">
          <div class="col-12 s-title-per-v2 s-title-per-v2-w text-center">
            <h4>Programming Languages Used... So Far</h4>
          </div>

          {% for language in languages %}
            <div class="col-lg-4 col-md-6 mb-30">
              <div class="languages-box box-padding p-relative text-center">
                <div class="box">
                  <div class="details">
                    <div class="icon">
                      <img src="{{ language.image.url }}">
                      <h4 class="title-box sub-tit pb-10 mb-20">{{ language.title }}</h4>
                    </div>
                    <div class="text">
                      <h4>{{ language.title }}</h4>
                      <p>{{ language.description }}</p>
                      <br/>
                      <a href="{{ language.source_link }}" target="_blank" style="color: blue;">SOURCE</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Programming Languages
    ================================================== -->

    <!-- Portfolio
    ================================================== -->
    <section class="portfolio portfolio-style2 section-padding ohidden" data-background-color="#121212" data-scroll-index='5'>
      <div class="container">
        <div class="row">

          <div class="col-12 s-title-per-v2 text-center">
            <p>Work</p>
            <h4>My Portfolio .</h4>
          </div>

          <div class="filtering text-center mb-30">
            <button type="button" data-filter='*' class="active">All</button>
            <button type="button" data-filter='.brand'>Brand</button>
            <button type="button" data-filter='.web'>Design</button>
            <button type="button" data-filter='.photo'>Photo</button>
            <button type="button" data-filter='.video'>Video</button>
          </div>

          <!-- gallery -->
          <div class="gallery ohidden no-padding col-md-12">

            <div class="col-lg-4 col-sm-6 mb-30 video web">
              <div class="item-img">
                <a class="single-image" href="assets/img/portfolio/1-2.jpg"></a>
                <div class="part-img">
                  <img src="assets/img/portfolio/1-2.jpg" alt="image">
                  <div class="overlay-img">
                    <h4>Web</h4>
                    <h6>Creative Design</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-30 brand">
              <div class="item-img">
                <a class="single-image" href="assets/img/portfolio/2-2.jpg"></a>
                <div class="part-img">
                  <img src="assets/img/portfolio/2-2.jpg" alt="image">
                  <div class="overlay-img">
                    <h4>Web</h4>
                    <h6>Creative Design</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 mb-30 photo web">
              <div class="item-img video">
                <a class="single-image" href="assets/img/portfolio/3-2.jpg"></a>
                <div class="part-img">
                  <img src="assets/img/portfolio/3-2.jpg" alt="image">
                  <div class="overlay-img">
                    <h4>Web</h4>
                    <h6>Creative Design</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 sm-mb-30 brand photo">
              <div class="item-img video">
                <a class="single-image" href="assets/img/portfolio/4-2.jpg"></a>
                <div class="part-img">
                  <img src="assets/img/portfolio/4-2.jpg" alt="image">
                  <div class="overlay-img">
                    <h4>Web</h4>
                    <h6>Creative Design</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 sm-mb-30 video">
              <div class="item-img video">
                <a class="single-image" href="assets/img/portfolio/5-2.jpg"></a>
                <div class="part-img">
                  <img src="assets/img/portfolio/5-2.jpg" alt="image">
                  <div class="overlay-img">
                    <h4>Web</h4>
                    <h6>Creative Design</h6>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6 photo">
              <div class="item-img video">
                <a class="single-image" href="assets/img/portfolio/6-2.jpg"></a>
                <div class="part-img">
                  <img src="assets/img/portfolio/6-2.jpg" alt="image">
                  <div class="overlay-img">
                    <h4>Web</h4>
                    <h6>Creative Design</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End Portfolio
    ================================================== -->

    <!-- testimonial
    ================================================== -->
    <section class="testimonial-style2 section-padding section-padding ohidden" data-background-color="#232323" data-scroll-index='6'>
      <div class="container">
        <div class="row">

          <div class="col-12 s-title-per-v2 s-title-per-v2-w text-center">
            <p>People Say !</p>
            <h4>Testimonial.</h4>
          </div>

          <div class="col-md-10 offset-md-1">
            <div class="owl-carousel owl-theme">
              <div class="testimonial-item p-relative text-center">
                <div class="icon mb-20">
                  <i class="fas fa-comments fz-30"></i>
                </div>
                <p class="m-auto mb-20">Together. Fly that beast. Blessed evening lesser fish fowl male second under grass their saw day, brought upon bring fish fourth meat made our the.</p>
                <div class="testimonial-author p-relative text-center mb-10">
                  <h5 class="fz-16 fw600 mb-5">Jason Statham</h5>
                  <h6 class="fz-14 fw500 color-white">Web Desinger</h6>
                </div>
              </div>

              <div class="testimonial-item p-relative text-center">
                <div class="icon mb-20">
                  <i class="fas fa-comments fz-30"></i>
                </div>
                <p class="m-auto mb-20">Together. Fly that beast. Blessed evening lesser fish fowl male second under grass their saw day, brought upon bring fish fourth meat made our the.</p>
                <div class="testimonial-author p-relative text-center mb-10">
                  <h5 class="fz-16 fw600 mb-5">Jason Statham</h5>
                  <h6 class="fz-14 fw500 color-white">Web Desinger</h6>
                </div>
              </div>

              <div class="testimonial-item p-relative text-center">
                <div class="icon mb-20">
                  <i class="fas fa-comments fz-30"></i>
                </div>
                <p class="m-auto mb-20">Together. Fly that beast. Blessed evening lesser fish fowl male second under grass their saw day, brought upon bring fish fourth meat made our the.</p>
                <div class="testimonial-author p-relative text-center mb-10">
                  <h5 class="fz-16 fw600 mb-5">Jason Statham</h5>
                  <h6 class="fz-14 fw500 color-white">Web Desinger</h6>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End testimonial
    ================================================== -->

    <!-- Blog
    ================================================== -->
    <section class="blog-style2 section-padding ohidden"  data-background-color="#121212" data-scroll-index='7'>
      <div class="container">
        <div class="row">

          <div class="col-12 s-title-per-v2 text-center">
            <p>What's New !</p>
            <h4>My Blog .</h4>
          </div>

          <div class="col-lg-4 sm-mb-50">
            <div class="blog-item p-relative b-radius-4">
              <div class="part-img p-relative ">
                <img src="assets/img/blog/1.jpg" alt="">
              </div>
              <div class="content">
                <div class="title">
                  <h4 class="title-box mb-5"><a href="#">Latest Fashion Trends 2018</a></h4>
                </div>
                <div class="meta pb-20">
                  <ul>
                    <li>04 April 2018</li>
                    <li>By Admin</li>
                  </ul>
                </div>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which .</p>

                <a href="#" class="red-more">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 sm-mb-50">
            <div class="blog-item p-relative b-radius-4">
              <div class="part-img p-relative ">
                <img src="assets/img/blog/2.jpg" alt="">
              </div>
              <div class="content">
                <div class="title">
                  <h4 class="title-box mb-5"><a href="#">Country big concert report</a></h4>
                </div>
                <div class="meta pb-20">
                  <ul>
                    <li>04 April 2018</li>
                    <li>By Admin</li>
                  </ul>
                </div>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which .</p>

                <a href="#" class="red-more">Read More</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="blog-item p-relative b-radius-4">
              <div class="part-img p-relative ">
                <img src="assets/img/blog/3.jpg" alt="">
              </div>
              <div class="content">
                <div class="title">
                  <h4 class="title-box mb-5"><a href="#">Server-Side Rendering</a></h4>
                </div>
                <div class="meta pb-20">
                  <ul>
                    <li>04 April 2018</li>
                    <li>By Admin</li>
                  </ul>
                </div>
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which .</p>

                <a href="#" class="red-more">Read More</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Blog
    ================================================== -->

    <!-- contact
    ================================================== -->
    <section class="contact contact-default section-padding  ohidden"  data-background-color="#232323" data-scroll-index='8'>
      <div class="container">
        <div class="row">

          <div class="col-12 s-title-per-v2 s-title-per-v2-w text-center">
            <p>Say Hello !</p>
            <h4>Contact Me .</h4>
          </div>

          <div class="col-md-12">
            <div class="contact-form p-relative">
              <form class="form" id="contact-form" action="contact.php" data-toggle="validator">
              <div class="messages"></div>
                <div class="controls">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="form_name" type="text" name="name" placeholder="Name *" required="required" data-error="name is required."  data-background-color="#121212">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                          <input id="form_email" type="email" name="email" placeholder="Email *" required="required" data-error="Valid email is required."  data-background-color="#121212">
                          <div class="help-block with-errors"></div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group">
                          <input id="form_subject" type="text" name="subject" placeholder="subject"  data-background-color="#121212">
                      </div>
                    </div>

                    <div class="col-md-12 form-group">
                      <textarea id="form_message" name="text" class="form-control" placeholder=" Type Your Message " required="required" data-error="Please,leave us a message."  data-background-color="#121212"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>

                    <div class="col-md-12 text-center">
                      <button><i class="jam jam-paper-plane-f"></i><span>Send Message</span></button>
                    </div>

                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- End Contact
    ================================================== -->


    <!-- Footer
    ================================================== -->
    <footer class="footer-style-2 p-relative">
      <div class="container">
        <div class="row">

          <div class="brand text-center m-auto p-relative w-100">
            <a href="#">
              <img src="assets/img/logo-2.png" alt="logo" class="logo-1">
            </a>
          </div>

          <div class="col-lg-12 mt-30">
            <div class="part-info p-relative">
              <div class="row">
                <div class="col-md-4 sm-mb-30">
                  <div class="info-block text-center m-auto p-relative">
                    <div class="icon">
                      <i class="jam jam-map-marker-f"></i>
                    </div>
                    <div class="text">
                      <h5>My Location:</h5>
                      <p>3481 Melrose Place, Beverly Hills CA</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 sm-mb-30">
                  <div class="info-block text-center m-auto p-relative">
                    <div class="icon">
                      <i class="jam jam-phone"></i>
                    </div>
                    <div class="text">
                      <h5>Phone Number:</h5>
                      <p>(+1) 517 397 7100</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="info-block text-center m-auto p-relative">
                    <div class="icon">
                      <i class="jam jam-envelope-f"></i>
                    </div>
                    <div class="text">
                      <h5>Email Address:</h5>
                      <p><a href="#">info@demo.com</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="scoial-icon text-center m-auto p-relative mt-30">
            <a href="#0"><span><i class="fab fa-facebook-f"></i></span></a>
            <a href="#0"><span><i class="fab fa-twitter"></i></span></a>
            <a href="#0"><span><i class="fab fa-linkedin-in"></i></span></a>
            <a href="#0"><span><i class="fab fa-google-plus-g"></i></span></a>
          </div>

          <div class="cop text-center w-100 mt-30">
            <h6 class="fz-14 fw500">© All Rights Reserved - 2018 ZYALL by Desing Grid.</h6>
          </div>

        </div>
      </div>
    </footer>
    <!-- End Footer
    ================================================== -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    {% static 'css/style.css' %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/Migrate.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- owl carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <!-- scrollIt js -->
    <script src="{% static 'js/scrollIt.min.js' %}"></script>

    <!-- typed -->
    <script src="{% static 'js/typed.js' %}"></script>

    <!-- magnific-popup -->
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

    <!-- isotope.pkgd.min js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <!-- YouTubePopUp -->
    <script src="{% static 'js/YouTubePopUp.jquery.js' %}"></script>

    <!-- circle progress-->
    <script src="{% static 'js/circle-progress.min.js' %}"></script>

    <!-- validator js -->
    <script src="{% static 'js/validator.js' %}"></script>

    <!-- custom JavaScript -->
    <script src="{% static 'js/custom.js' %}"></script>

  </body>
</html>
